<%- include('./partials/header'); -%>

<form>
	<h2>Sign up</h2>
	<label for="email">Email</label>
	<input type="text" name="email" required />
	<div class="email error"></div>
	<label for="password">Password</label>
	<input type="password" name="password" required />
	<div class="password error"></div>
	<button>Sign up</button>
</form>

<script>
	const form = document.querySelector('form')

	form.addEventListener('submit', (e) => {
		e.preventDefault()

		// reading text input values from form
		const email = e.target.elements.email.value
		const password = e.target.elements.password.value

		try {
			const res = fetch('/signup', {
				method: 'POST',
				body: JSON.stringify({ email, password }),
				headers: { 'Content-Type': 'application/json' },
			})
		} catch (err) {
			console.log(err)
		}
	})
</script>

<%- include('./partials/footer'); -%>
